<section class="login-container auth">
  <h1>Login</h1>
  <form class="form" method="post" action="/login">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Ingresar</button>
  </form>
</section>
