<section class="store-container grid">
  {{#if products.length}}
    {{#each products}}
      {{> productCard}}
    {{/each}}
  {{else}}
    <p>No hay productos para mostrar.</p>
  {{/if}}
</section>

{{> pagination}}
