<h1 id="rt-title">{{title}}</h1>

<section class="rt-form-container">
  <form id="rt-form">
    <input name="title" placeholder="Título" required />
    <input name="price" type="number" step="1" placeholder="Precio" required />
    <button type="submit">Crear producto</button>
  </form>
</section>

<ul id="rt-products"></ul>

