{{> header}}
<section>
    <input type="text" id="input-search">
    {{!-- Icono search --}}
</section>
<section class="store-container">
        {{#each products}}
        <article class="card-container">
            <li>{{title}} - ${{price}}</li>
        </article>
        {{/each}}
</section>
{{> footer}}