<article class="card-container">
  <h3 class="card-title">{{title}}</h3>
  <p class="card-price">$ {{price}}</p>
  <p class="card-category">{{category}}</p>
  <a class="card-link" href="/products/{{_id}}">Ver detalle</a>
</article>
